<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<nav th:replace="/layout::navbar"></nav>
<div class="container-fluid m-0 p-0">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h1>CUSTOMER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary m-2">
                <a href="/customer/create" class="text-decoration-none text-white">Create</a>
            </button>
        </div>
        <div class="col-6">
            <form action="/customer/search" method="get" class="w-100">
                <div class="input-group" style="float: right; width: 50%">
                    <input type="text" class="form-control mt-2 mb-2 ms-2" placeholder="Search here" id="input-search"
                           name="input-search">
                    <button class="btn btn-outline-secondary mt-2 mb-2 me-2" type="submit" id="button-addon2">Button
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="table-list-customer">
        <div class="col-12">
            <table class="table table-hover" id="table-customer">
                <thead class="table-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Gender</th>
                <th>Id card</th>
                <th>Action</th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="customer : ${listCustomer}">
                    <td>
                        <a th:href="@{/customer/view/__${customer.customerId}__}" th:text="${customer.customerId}"
                           class="text-dark"></a>
                    </td>
                    <td th:text="${customer.customerName}"></td>
                    <td th:text="${customer.customerType.customerTypeName}"></td>
                    <td th:text="${customer.customerGender} == 1 ? 'Male' :
                                    (${customer.customerGender} == 0 ? 'Female' : 'Other')"></td>
                    <td th:text="${customer.customerIdCard}"></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" th:id="${'btn-' + customer.customerId}"
                                th:value="${customer.customerId}" onclick="getIdToDelete(this.value)">Delete
                        </button>
                    </td>
                    <td>
                        <input type="checkbox" th:value="${customer.customerId}">
                    </td>
                </tr>
                </tbody>
            </table>
            <!--Multiple delete-->
            <button class="btn btn-danger d-flex position-absolute w-auto" style="right: 16px" id="btn-multi-delete">
                Multi Delete
            </button>
        </div>
    </div>
    <!--Phân trang-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="Pagination" class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item" th:if="${listCustomer.hasPrevious()}">
                        <a class="page-link" th:href="@{/customer(page=${listCustomer.number - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <span class="page-link"
                              th:text="${listCustomer.number + 1} + '/'  + ${listCustomer.totalPages}"></span>
                    </li>
                    <li class="page-item" th:if="${listCustomer.hasNext()}">
                        <a class="page-link" th:href="@{/customer(page=${listCustomer.number + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Hết phân trang-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirm to delete
                    <output value="" id="confirm-id-output" class="text-danger"></output>
                    ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="btn-confirm-yes"
                            data-bs-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Hết model-->

    <!--Toast-->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:if="${status}"
         style="position: fixed; bottom: 15px; right: 15px; z-index: 1; min-width: 250px; width: auto">
        <div class="toast-header bg-success">
            <strong class="me-auto text-white" th:text="${status}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span class="text-danger" th:text="${statusContent}"></span>
        </div>
    </div>
</div>
<footer th:replace="/layout::footer">
</footer>
</body>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
        // $('.toast').fadeOut(3000);

        $('#btn-confirm-yes').click(function () {
            let id = $('#confirm-id-output').val();
            $.ajax({
                url: "http://localhost:8080/api/v1/customer/delete/" + id,
                type: "DELETE",
                //xử lý khi thành công
                success: function () {
                    let idButton = "#btn-" + id;
                    $(idButton).parent().parent().remove();
                },
                error: function () {
                    console.log("Lỗi")
                }
            });
        });

        $('#btn-multi-delete').click(function () {
            let arr = [];
            $('#table-customer input[type=checkbox]').each(function () {
                if (jQuery(this).is(":checked")) {
                    arr.push($(this).val());
                }
            });
            if (arr.length != 0) {
                $.ajax({
                    url: "http://localhost:8080/api/v1/customer/multi-delete",
                    type: "DELETE",
                    data: JSON.stringify({
                        data: arr
                    }),
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    //xử lý khi thành công
                    success: function () {
                        for(i=0; i < arr.length; i++) {
                            let id = arr[i];
                            let idButton = "#btn-" + id;
                            $(idButton).parent().parent().remove();
                        }
                    },
                    error: function () {
                        console.log("Lỗi")
                    }
                });
            }
        });
    });

    function getIdToDelete(id) {
        $('#confirm-id-output').val(id);
    }
</script>
</html>