<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<nav th:replace="/layout::navbar"></nav>
<div class="container-fluid m-0 p-0">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h1>CONTRACT</h1>
        </div>
    </div>
    <!--Create and Search-->
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary m-2">
                <a href="/contract/create" class="text-decoration-none text-white">Create</a>
            </button>
        </div>
        <div class="col-6">
            <form action="/contract/search" method="get" class="w-100">
                <div class="input-group" style="float: right; width: 50%">
                    <input type="text" class="form-control mt-2 mb-2 ms-2" placeholder="Search here" id="input-search"
                           name="input-search">
                    <button class="btn btn-outline-secondary mt-2 mb-2 me-2" type="submit" id="button-addon2">Button
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="table-list-contract">
        <div class="col-12">
            <table class="table table-hover" id="table-contract">
                <thead class="table-dark">
                <th>ID</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Total money</th>
                <th>Customer</th>
                <th>Service</th>
                <th class="col-2">Attach service</th>
                <th style="width: 5%">Action</th>
                <th style="width: 5%"></th>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="contract : ${listContract}">
                    <td>
                        <a th:href="@{/contract/view/__${contract.contractId}__}" th:text="${contract.contractId}"
                           class="text-dark"></a>
                    </td>
                    <td th:text="${contract.contractStartDate}"></td>
                    <td th:text="${contract.contractEndDate}"></td>
                    <td th:text="${contract.contractTotalMoney}"></td>
                    <td th:text="${contract.customer.customerName}"></td>
                    <td th:text="${contract.service.serviceName}"></td>
                    <td>
                        <select class="form-select border-0" readonly="true" th:if="${contract.contractDetail.size()} > 0">
                            <option th:text="${contract.contractDetail.size()} + ' attach service(s)'" selected></option>
                            <option class="bg-light" th:each="contractDetail : ${contract.contractDetail}"
                                    th:text="${contractDetail.attachService.attachServiceName} +' - '+ ${contractDetail.quantity} + 'unit(s)'"
                                    style="pointer-events: none" disabled></option>
                        </select>
                        <select class="form-select border-0 bg-white" th:if="${contract.contractDetail.size()} <= 0" disabled>
                            <option th:text="'no attach services'" selected></option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" th:id="${'btn-' + contract.contractId}">
                            <a th:href="@{/contract/attach-service/__${contract.contractId}__}"
                                class="text-decoration-none text-white">Add A-T</a>
                        </button>
                    </td>
                    <td>
                        <input type="checkbox" th:value="${contract.contractId}">
                    </td>
                </tr>
                </tbody>
            </table>

            <!--Multiple delete-->
            <button class="btn btn-danger d-flex position-absolute w-auto" style="right: 16px" id="btn-multi-delete"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
            </button>
        </div>
    </div>
    <!--Phân trang-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="Pagination" class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item" th:if="${listContract.hasPrevious()}">
                        <a class="page-link" th:href="@{/contract(page=${listContract.number - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <span class="page-link"
                              th:text="${listContract.number + 1} + '/'  + ${listContract.totalPages}"></span>
                    </li>
                    <li class="page-item" th:if="${listContract.hasNext()}">
                        <a class="page-link" th:href="@{/contract(page=${listContract.number + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Hết phân trang-->

    <!--Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
                </div>
                <div class="modal-body">
                    Are you sure to delete contract(s)?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-confirm-no">No
                    </button>
                    <button type="button" class="btn btn-danger" id="btn-confirm-yes" data-bs-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Hết model-->

    <!--Toast-->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:if="${status}"
         style="position: fixed; bottom: 15px; right: 15px; z-index: 1; min-width: 250px; width: auto">
        <div class="toast-header bg-success">
            <strong class="me-auto text-white" th:text="${status}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span class="text-danger" th:text="${statusContent}"></span>
        </div>
    </div>
</div>
<footer th:replace="/layout::footer">
</footer>
</body>
<script>
    let idArray = [];
    $(document).ready(function () {
        $('.toast').toast('show');

        $('#btn-confirm-yes').click(function () {
            if (idArray.length !== 0) {
                $.ajax({
                    url: "http://localhost:8080/api/v1/contract/multi-delete",
                    type: "DELETE",
                    data: JSON.stringify({
                        data: idArray
                    }),
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    //xử lý khi thành công
                    success: function () {
                        for (let i = 0; i < idArray.length; i++) {
                            let id = idArray[i];
                            let idButton = "#btn-" + id;
                            $(idButton).parent().parent().remove();
                        }
                        idArray.splice(0, idArray.length);
                        console.log(idArray.length);
                    },
                    error: function () {
                        console.log("Lỗi");
                    }
                });
            }
        });

        $('#btn-confirm-no').click(function () {
            idArray.splice(0, idArray.length);
        });

        $('#btn-multi-delete').click(function () {
            $('#table-contract input[type=checkbox]').each(function () {
                if (jQuery(this).is(":checked")) {
                    idArray.push($(this).val());
                }
            });
        });
    });
</script>
</html>